name: Build vLLM Image

on:
  workflow_dispatch:
  push:
    branches:
      - 105-setup-dev-mode

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create Dockerfile
        run: |
          echo 'FROM vllm/vllm-openai:latest' > Dockerfile
          echo 'ENTRYPOINT []' >> Dockerfile

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/vllm-openai:latest
          context: .
