name: Pre Merge Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre-merge-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: isort check
        run: isort --check-only --profile black src tests cli.py commands

      - name: black check
        run: black --check src tests cli.py commands

      - name: mypy check
        env:
          SMALL_LLM_MODEL_NAME: deepseek-ai/DeepSeek-R1-Distill-Qwen-7B
          LARGE_LLM_MODEL_NAME: gpt-4o-mini
          FINE_TUNED_MODEL_NAME: deepseek-ai/DeepSeek-R1-Distill-Qwen-7B
          REFORMULATOR_LLM_MODEL_NAME: deepseek-ai/DeepSeek-R1-Distill-Qwen-7B
        run: |
          mypy src --explicit-package-bases
          mypy cli.py commands
